<h1>About</h1>

<p>This web application was motivated by the Web Scripting class on 2016.1 taught by the professor Julie Gauthier. This service uses the <strong>Omniauth</strong> authentication system to login into Facebook and collect the most recent posts on the user timeline</p>

<h3>TO DO:</h3>
<ul>
	<li>Add integration with Twitter and GitHub (WordCloud with your code!)</li>
	<li>Add an interface to allow the user to change the parameters of the Word Cloud</li>
	<li>Add an interface to allow the user select how long his posts will be searched</li>
	<li>Create a friend Word Cloud and compare the distance between you and your friend with a t-sne map</li>
</ul>

<h3>Packages/Config/Softwares Used</h3>
<ul>
	<li>Ruby on Rails</li>
	<li>JavaScript and D3 to render the WordClouds</li>
	<li>Bootstrap to make the website responsive and nice</li>
	<li>glyphicons and the wonderful icons available in the bootstrap package</li>
	<li>FontsAwesome for their amazing icon set too</li>
</ul>